@import "../../../assets/styles/vars.scss";

.header {
    background-color: $white;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba($grey, 0.5);
    // .header__logo
    &__logo {
        height: 41px;
    }
}
