.plan {
    // .plan__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        margin-bottom: 1rem;
    }
    // .plan__table
    &__table {
        min-width: 40.625rem;
        width: 100%;
    }
    // .plan__table-date
    &__table-date {
        white-space: nowrap;
    }
    // .plan__pagination
    &__pagination {
        justify-content: flex-end;
    }
}
