@import "../../assets/styles/mixins.scss";

.work-plan-page {
    // .work-plan-page__info
    &__info {
        margin-bottom: 40px;
    }
    // .work-plan-page__wrapper
    &__wrapper {
        @include flex-center(12px, space-between);
        margin: 20px 0 30px;
    }
    // .work-plan-page__actions
    &__actions {
        display: flex;
        gap: 0.7rem;
    }
}
